VITE_SUPABASE_URL=https://cvfxfbirvrzplnqkakxj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN2ZnhmYmlydnJ6cGxucWtha3hqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU4NjE4NDcsImV4cCI6MjA5MTQzNzg0N30.ZljiNhLWgaOTAtbltemgZDmGkGx1tgo1NFTc9LmbNc8
VITE_API_BASE_URL=http://localhost:8000
